<div class="card m-3">
    <h5 class="card-header">
        {{ isEditMode ? 'Modifier les données de l\'Étudiant' : 'Créer un nouvel Étudiant' }}
    </h5>
    <div class="card-body">
        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

            <input readonly id="id" type="hidden" formControlName="id" class="form-control" placeholder="Auto-généré" />

            <div class="form-group">
                <label for="firstname">Prénom</label>
                <input id="firstname" type="text" formControlName="firstname" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form['firstname'].errors }"
                    data-cy="firstName" />
                @if (submitted && form['firstname'].errors) {
                <div class="invalid-feedback">
                    @if (form['firstname'].errors?.['required']) {
                    <div data-cy="firstNameError">Prénom est requis</div>
                    }
                </div>
                }
            </div>

            <div class="form-group">
                <label for="lastname">Nom</label>
                <input id="lastname" type="text" formControlName="lastname" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form['lastname'].errors }"
                    data-cy="lastName"/>
                @if (submitted && form['lastname'].errors) {
                <div class="invalid-feedback">
                    @if (form['lastname'].errors?.['required']) {
                    <div>Nom est requis</div>
                    }
                </div>
                }
            </div>

            <div class="form-group">
                <label for="level">Niveau</label>
                <input id="level" type="text" formControlName="level" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form['level'].errors }"
                    data-cy="level" />
                @if (submitted && form['level'].errors) {
                <div class="invalid-feedback">
                    @if (form['level'].errors?.['required']) {
                    <div>Niveau est requis</div>
                    }
                </div>
                }
            </div>

            <div class="form-group">
                <label for="matter">Matière</label>
                <input id="matter" type="text" formControlName="matter" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form['matter'].errors }"
                    data-cy="matter" />
                @if (submitted && form['matter'].errors) {
                <div class="invalid-feedback">
                    @if (form['matter'].errors?.['required']) {
                    <div>Matière est requise</div>
                    }
                </div>
                }
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-1" data-cy="btn-submit">
                    {{ isEditMode ? 'Modifier' : 'Créer' }}
                </button>
                <button type="button" class="btn btn-secondary" (click)="onReset()" data-cy="btn-cancel">
                    Annuler
                </button>
            </div>
        </form>
    </div>
</div>